.colorproject {
  background-color: #ffffff;
  color: #23272f;
  transition: color 500ms;
  transition: background-color 500ms;
}

.dark .colorproject {
  background-color: #23272f;
  color: #f6f7f9;
  transition: color 500ms;
  transition: background-color 500ms;
}

.project-links {
  border: 3px solid #171717;
  background-color: #eff0f3;
  border-radius: 50px;
}

.dark .project-links {
  border: 3px solid #e8e8e8;
  background-color: #1c1f25;
  border-radius: 50px;
}

.project-links img {
  scale: 1;
  transition: scale 500ms ease;
}

.project-links img:hover {
  scale: 1.1;
  transition: scale 500ms ease;
}

.project .project-image {
  width: auto;
  height: 400px;
}

.project {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 6em 0;
}

.bottom-desc {
  border: 2px solid #1f1f1f;
  background-color: #eff0f3;
  color: #1f1f1f;
  border-radius: 10px;
  padding: 1rem;
}

.dark .bottom-desc {
  border: 2px solid #e0e0e0;
  color: #e0e0e0;
  background-color: #1c1f25;
}

.project-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 500ms ease-in-out;
}

.project-left {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.project-title {
  font-family: "Oleo Script", cursive;
  font-size: 2.8em;
  padding: 0.5em 0;
}

.project-left h3 {
  font-size: 1.4rem;
  text-decoration: underline;
}

.project-desc-p {
  line-height: 1.3em;
  padding: 1em 0;
}

.languages-list {
  display: flex;
  padding: 2rem 1rem 1rem 1rem;
  justify-content: center;
  gap: 1rem;
}

.languages-list img {
  width: 45px;
  height: 45px;
}

.project-links {
  display: flex;
  gap: 3rem;
  padding: 1rem 2rem;
  scale: 0.5;
}

.project-page button {
  font-size: 1em;
  font-weight: 600;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #1f1f1f;
}

.project .project-page button:hover {
  font-size: 1em;
  border-radius: 8px;
  color: #e0e0e0;
  border: none;
  background-color: #2e2e2e;
  font-weight: 600;
  padding: 0.6rem 1.2rem;
  cursor: pointer;
}

.dark .project-page button {
  font-size: 1em;
  font-weight: 600;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #e0e0e0;
}

.dark .project .project-page button:hover {
  font-size: 1em;
  border-radius: 8px;
  border: none;
  color: #e0e0e0;
  background-color: #1c1f25;
  font-weight: 600;
  padding: 0.6rem 1.2rem;
  cursor: pointer;
}

.project-page button.active {
  font-size: 1em;
  border-radius: 8px;
  color: #e0e0e0;
  background-color: #2e2e2e;
  font-weight: 600;
  padding: 0.6rem 1.2rem;
  cursor: pointer;
}

.dark .project-page button.active {
  font-size: 1em;
  border-radius: 8px;
  color: #e0e0e0;
  background-color: #1c1f25;
  font-weight: 600;
  padding: 0.6rem 1.2rem;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .project {
    flex-direction: column;
    padding: 5em 0;
    gap: 3rem;
  }

  .project-left,
  .project-right {
    width: 100%;
    text-align: center;
    margin-bottom: 2em;
  }

  .project .project-image {
    width: 100%;
    height: 100%;
  }
}
