.about {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 6em 0;
}

.about-left {
  width: 50%;
}

.about-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-right h2 {
  font-size: 2.6em;
}

.about-right h3 {
  font-size: 1.8em;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.about-right p {
  font-size: 1.1em;
}

.about-right-btn {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.about-right-btn button {
  border-radius: 8px;
  padding: 0.6rem 1.2rem;
  font-weight: 600;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .about {
    flex-direction: column;
    padding: 5em 0;
  }

  .about-left,
  .about-right {
    width: 100%;
    text-align: center;
    margin-bottom: 2em;
  }

  .about-left img {
    width: 100%;
    height: 100%;
  }

  .about-left {
    order: 2;
  }

  .about-right {
    order: 1;
  }

  .about-right h3 {
    display: flex;
    justify-content: center;
  }

  .about-right-btn button {
    display: flex;
    justify-content: center;
  }
}

.colorabout {
  background-color: #eff0f3;
  color: #23272f;
  transition: color 500ms;
  transition: background-color 500ms;
}

.dark .colorabout {
  background-color: #1c1f25;
  color: #f6f7f9;
  transition: color 500ms;
  transition: background-color 500ms;
}
