.skill {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 6em 0;
}

.skill-list h2 {
  font-size: 1.6rem;
}

.skill-list p {
  font-size: 1.1rem;
}

.skill-title {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding-bottom: 5em;
}

.skill-title h1 {
  font-size: 2.6em;
}

.skill-title p {
  font-size: 1.3em;
}

.skill-list {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.skill-left {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.skill-right {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.skill-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.level {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.front-end {
  display: flex;
  flex-direction: column;
  justify-content: center;
  order: 1;
  padding: 2rem;
  gap: 2rem;
  height: 12em;
}

.uxui {
  display: flex;
  flex-direction: column;
  justify-content: center;
  order: 1;
  padding: 2rem;
  gap: 2rem;
  height: 12em;
}

.tools {
  display: flex;
  flex-direction: column;
  justify-content: center;
  order: 1;
  padding: 1.8rem;
  gap: 2rem;
  height: 12em;
}

.back-end {
  display: flex;
  flex-direction: column;
  justify-content: center;
  order: 1;
  padding: 1.8rem;
  gap: 2rem;
  height: 12em;
}

.colorskill {
  background-color: #eff0f3;
  color: #23272f;
  transition: color 500ms;
  transition: background-color 500ms;
}

.dark .colorskill {
  background-color: #1c1f25;
  color: #f6f7f9;
  transition: color 500ms;
  transition: background-color 500ms;
}

.tools,
.back-end,
.front-end,
.uxui {
  border: 2px solid #262524;
  background-color: #fefefe;
  border-radius: 10px;
}

.dark .tools,
.dark .back-end,
.dark .front-end,
.dark .uxui {
  border: 2px solid #e8e8e8;
  background-color: #23272f;
  border-radius: 10px;
}

@media screen and (max-width: 1024px) {
  .skill-list {
    flex-direction: column;
  }
  .skill-left,
  .skill-right {
    flex-direction: column;
  }

  .level {
    flex-direction: column;
  }
  .front-end,
  .uxui {
    order: 2;
  }
  .tools,
  .back-end {
    order: 1;
  }
  .dark.tools,
  .dark.back-end {
    order: 2;
  }
  .dark.front-end,
  .dark.uxui {
    order: 1;
  }
}
