.experience {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6em 0 0 0;
}

.experience h1 {
  font-size: 2.6em;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 100px auto;
  z-index: 1;
}

.visible .timeline {
  animation: moveline 6s linear forwards;
}

.container {
  padding: 10px 50px;
  position: relative;
  width: 50%;
  /* animation: movedown 1s linear forwards; */
  opacity: 0;
}

.visible .container {
  animation: movedown 1s linear forwards;
}

@keyframes movedown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.container:nth-child(1) {
  animation-delay: 0s;
}

.container:nth-child(2) {
  animation-delay: 1s;
}

.container:nth-child(3) {
  animation-delay: 2s;
}

.container:nth-child(4) {
  animation-delay: 3s;
}

.text-box {
  padding: 20px 30px;
  position: relative;
  border-radius: 6px;
  font-size: 15px;
  background-color: #d5d5d3;
  scale: 1;
  transition: background-color 500ms;
  transition: scale 500ms;
}

.text-box:hover {
  background-color: #d5d5d3;
  scale: 1.03;
  transition: background-color 500ms;
  transition: scale 500ms;
  cursor: pointer;
}

.left-container {
  left: 0;
}

.right-container {
  left: 50%;
}

.container img {
  position: absolute;
  width: 40px;
  border-radius: 50%;
  right: -20px;
  top: 32px;
}

.right-container img {
  left: -20px;
}

.timeline::after {
  content: " ";
  position: absolute;
  width: 6px;
  height: 100%;
  background: #262524;
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
  animation: moveline 6s linear forwards;
}

@keyframes moveline {
  0% {
    opacity: 0;
    height: 0;
  }
  100% {
    opacity: 1;
    height: 100%;
  }
}

.text-box h2 {
  font-weight: 600;
}

.text-box small {
  display: inline-block;
  margin-bottom: 15px;
}

.left-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #d5d5d3;
  right: -15px;
}

.right-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #d5d5d3;
  left: -14px;
}

@media screen and (max-width: 1024px) {
  .experience {
    padding: 5em 0 2em 0;
  }
  .timeline {
    margin: 50px auto;
  }
  .timeline::after {
    left: 31px;
  }
  .container {
    width: 100%;
    padding-left: 80px;
    padding-right: 25px;
  }
  .text-box {
    font-size: 13px;
  }
  .text-box small {
    margin-bottom: 10px;
  }
  .right-container {
    left: 0;
  }
  .left-container img,
  .right-container img {
    left: 10px;
  }
  .left-container-arrow,
  .right-container-arrow {
    border-right: 15px solid #e1e1df;
    border-left: 0;
    left: -15px;
  }
}

.colorexperience {
  background-color: #ffffff;
  color: #23272f;
  transition: color 500ms;
  transition: background-color 500ms;
}

.dark .colorexperience {
  background-color: #23272f;
  color: #f6f7f9;
  transition: color 500ms;
  transition: background-color 500ms;
}
